@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(fonts/OpenSans-Regular.ttf);
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: hsla(0, 0%, 100%, 0.923);
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle at center top,
    rgba(24, 27, 52, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );

  & a {
    color: hsl(228 100% 75.9%);
    text-decoration: none;
    transition: color 0.05s ease-out;

    &:hover {
      color: hsl(228 100% 85.9%);
    }
  }
}
