@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(fonts/OpenSans-Regular.ttf);
}

body {
  font-family: "Open Sans";
  color: rgb(245, 245, 245);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(23, 26, 46, 1) 100%,
    rgba(2, 0, 36, 1) 0%
  );
}
